In [1]:
int('123')

123

In [2]:
print("Hello World")

Hello World

In [3]:
type(print("Hello world"))

Hello world

NoneType

In [6]:
print(123)

123

In [19]:
age=19
print("My age is:",age)

My age is: 19

In [14]:
###  f string
print(f"My age is {age}")

My age is: 19

In [23]:
## format()
name="Aniket"
age=19
print("My name is {} and age is {}".format(name,age))

My name is Aniket and age is 19

In [24]:
print("My name is {} and age is {}". format(age,name))

My name is 19 and age is Aniket

In [26]:
print("My name is {firstname} and age is {firstage}". format(firstname=name,firstage=age))

My name is Aniket and age is 19

In [39]:
name="Aniket Manvate"
age=19
degree="Btech"
print("My age is {} and i have completed: my degree of {} with the name of {}". format(age,degree,name))

My age is 19 and i have completed: my degree of Btech with the name of Aniket Manvate

In [35]:
name="Aniket Manvate"
age=19
degree="Btech"
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}". format(name,age,degree))

My age is 19 and i have completed: my degree of Btech with the name of Aniket Manvate

In [40]:
## if statements
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [ ]:
18>=18

True

In [55]:
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [57]:
input()

 Aniket Manvate

'Aniket Manvate'

In [66]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are a young blood")

Enter the age 20

You are a young blood

In [67]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("You are a young blood")
else:
    print("Thank you we will let you know")

Enter the age 56

Thank you we will let you know

In [76]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}". format(product_price*0.8))
else:
    print("The price of the product is {}". format(product_price*0.7))

Enter the price 950

The price of the product is 665.0

In [74]:
(20/100)*4500

900.0

In [79]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print("The price of the product is {}". format(product_price*0.7))

Enter the price 1200

The price of the product is 960.0

In [10]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you got a Goa Trip")
    print("The price of the product is {}". format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional Gift")
    print("The price of the product is {}". format(product_price*0.7))
else:
    print("The price of the product is {}". format(product_price*0.6))

Enter the price 4000

Congratulations you got a Goa Trip
The price of the product is 3200.0

In [14]:
## while loops while-else

joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("It's time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
It's time for retirement

In [16]:
### Atm machine with 1000rs

total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

In [17]:
### for loop

lst=["Aniket",1,2,3,4,"Pineapple","Grapes"]

In [18]:
lst[0]

'Aniket'

In [19]:
lst[5]

'Pineapple'

In [20]:
lst[6]

'Grapes'

In [21]:
lst

['Aniket', 1, 2, 3, 4, 'Pineapple', 'Grapes']

In [22]:
for R in lst:
    print(R)

Aniket
1
2
3
4
Pineapple
Grapes

In [25]:
Player_list =["Virat Kohli","AB De Villiers","KL Rahul","Suryakumar Yadav","Rishabh Pant"]

In [28]:
for R in Player_list:
    print(R)

Virat Kohli
AB De Villiers
KL Rahul
Suryakumar Yadav
Rishabh Pant

In [29]:
for R in Player_list:
    print(R)
    if R=="AB De Villiers":
        print("The player is a AB De Villiers")

Virat Kohli
AB De Villiers
The player is a AB De Villiers
KL Rahul
Suryakumar Yadav
Rishabh Pant

In [30]:
fruit='mango'
for R in fruit:
    print(R)

m
a
n
g
o

In [34]:
### nested loops 

n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [ ]:
### nested loops
## break and continue

Player_list=["Virat Kohli","AB De Velliers","KL Rahul","Suryakumar Yadav","Rishabh Pant"]

In [37]:
for i in Player_list:
    if i=="KL Rahul":
        print("The player is KL Rahul")
        break
    print(i)

Virat Kohli
AB De Villiers
The player is KL Rahul

In [38]:
for i in Player_list:
    if i=="KL Rahul":
        print("The player is KL Rahul")
        pass
    print(i)

Virat Kohli
AB De Villiers
The player is KL Rahul
KL Rahul
Suryakumar Yadav
Rishabh Pant

In [40]:
## continue
for i in Player_list:
    if i=="KL Rahul":
        print("The player is KL Rahul")
        continue
    print(i)

Virat Kohli
AB De Villiers
The player is KL Rahul
Suryakumar Yadav
Rishabh Pant